{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="width-container">
  <img src="{% static "images/logo_red.png" %}" alt="" class="logo">
  <div class="content">
    <div class="action-description-container">
      <p class="action-description">MEIN EIGENES</p>
      <p class="action-description">WAXING STUDIO?</p>
      <p class="action-description-red">ABER EASY!</p>
    </div>
    <div class="form-background">
      <h2 class="form-header">Mit unserem EASY FRANCHISE Angebot</h2>
      <div class="form-delimiter"></div>
      <p class="form-description">Mach jetzt mehr aus deinen Fähigkeiten und starte mit deinem eigenen Beauty-Business.</p>
      <ul class="form-list">
        <li>Kein Vorlauf für die Standortsuche</li>
        <li>Schlüsselfertiger Studioausbau</li>
        <li>Geringe Startinvestition</li>
        <li>360 Grad Support von Anfang an</li>
      </ul>
      <a href="/step-01" class="form-btn">
        <div class="form-btn-text-container">
          <p class="form-btn-text-main">Klick hier</p>
          <p class="form-btn-text-secondary">Sei Teil der Zukunft!</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
