{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
      <title>
          {% block title %}
              Wax in the city franchise
          {% endblock %}
      </title>
    </head>
    <body>
        {% block content %}
            content
        {% endblock %}
    </body>
</html>
